.container {
    display: flex;
    flex-direction: column;
}

/*--------HEADER-MOBILE--------*/

header{
    background-color: white;
    border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
    /* height: 60px; */
}

.navbar-burger{
    margin-left: 0px;
    
}

.pageTitle{
    text-align: center;
    line-height: 50px;
}

.header-destkops {
    display: none;
}

.header-mobile {
    display: hidden;
}

.destkops {
    display: none;
}

/*--------MAIN--------*/

/*--------ARTICLE--------*/

.wellness {
    line-height: 0.7;
}

.size {
    object-fit: cover;
    object-position: -20% 40%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.groupe {
    position: relative;
    margin: 0;
    padding: 0;
}

.category {
    position: absolute;
    top: 0;
    left: 0;
    color: #ff8d6a;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    background-color: #3a3e43;
    padding: 3px;
}

.description {
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    font-size: 15px;
    bottom: 0em;
	left: 0em;
	right: 0em;
    background: rgba(0, 0, 0, .6);
}

.wellness .category {
    display: inline-block;
    background-color: #3a3e43;
    padding: 5px;
}

.wellness .description {
    padding-left: 10px;
}

/*--------SEPARTION--------*/

.separation {
    position: relative;
    border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.ligne {
    margin-left: 10px;
    position: absolute;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    font-weight: bold;
}

/*--------FEATURED--------*/

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.size-half-featured {
    position: relative;
    object-fit: cover;
    object-position: -20% 40%;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 150px;
}

.featured .groupe {
    margin: 10px;
    width: 44%;
}

/*--------LATEST--------*/

.latest {
    padding-right: 10px;
    padding-left: 10px;
}

.size-latest {
    position: relative;
    object-fit: cover;
    object-position: -20% 40%;
    margin: 0px !important;
    padding: 0 !important;
    width: 100%;
    height: 150px;
}

.category-thumbnail {
    display: inline-block;
    background-color: #3a3e43;
    color: #ff8d6a;
    padding: 5px;
}

.category-thumbnail p {
    font-size: 10px;
    font-weight: bold;
}

.description-down {
    font-weight: bold;
}

.nav-article {
    text-align: center;
}

.cercle {
    border-radius: 50%;
}

/*--------\\\\MAIN////--------*/