h1, h2, h3, h4, h5, h6{
    font-weight:bold;
}

body{
    width: 100%;
    /* margin: 10px; */
}

.navbar-burger{
    margin-left: 0px; 
    display: block;
}

@media only screen and (max-width: 600px) {
        
.imageSinglePage{
    object-fit: cover;
    object-position: -10% 40%;
    width: 100%;
    height: 150px;
}
.pageTitle{
    text-align: center;
    line-height:50px;
}
.categories{
    color: #FF8D6A;
    text-align: center;
    font-size: 10px;
}
header{
    background-color: white;
    border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
}
.roundFarmer{
    background-color: #FF8D6A;
    width: 50px;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari 3-8 */
    transform: rotate(-20deg);
}

.mainArticle{
    margin: 10px;
}

.sub-image{
    /* margin: 15px; */
    width: 100%;
    background-color: white;
    border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
    border-top: rgba(128, 128, 128, 0.787) solid 0.5px;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.787);
    
}

.author{
    line-height:30px;
}
.social-icons{
    margin-top: 5px;
}
.comment-icon{
    width: 50px;
    height: 25px;
    font-size: 7px;
}
.searchIcon{
    margin-top: 13px;
}

.social-comment{
    margin: 0;
    text-align: left;
    height: 25px;
    font-size: 10px;
    margin-top: 15px;
}

.social-share {
    background-color: #899DCE;
    color: white;
    height: 25px;
    font-size: 10px;
    margin-top: 15px;
}

.social-tweet{
    background-color: #60D2F5;
    color: white;
    height: 25px;
    font-size: 10px;
    margin-top: 15px;
}

.social-pint{
    background-color: #F74C53;
    color: white;
    height: 25px;
    font-size: 10px;
    margin-top: 15px;
}

.share-block{
    height: 50px;
    margin: 10px;
}

.subscribe{
    margin: 10px;
    padding-bottom: 10px;
    
    text-align: center;
    border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
}
 
.previousArticle, .alsoLike{
    border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
    padding-bottom: 10px;
    margin: 10px;
}
}


@media only screen and (min-width: 601px) {
    .navbar-burger{
      
    }

    main{
            display: grid;
            grid-template-columns: 35% 30% 35%;
        }
        .block{
            grid-column: 2;
            margin-top: 20px;
        }
    .imageSinglePage{
        grid-column: 2;
        object-fit: cover;
        object-position: -10% 40%;
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .pageTitle{
        text-align: left;
        
        
        font-size: 2em;
        /* margin-left: 25px; */
        /* text-align: center; */
        line-height:50px;
    }
    .categories{
        grid-column: 2;
        color: #FF8D6A;
        text-align: center;
        font-size: 10px;
    }
    header{
        height: 55px;
        background-color: white;
        border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
    }
    .roundFarmer{
        background-color: #FF8D6A;
        width: 50px;
        height: 50px;
        font-size: 15px;
        border-radius: 50px;
        color: white;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        -ms-transform: rotate(-20deg); /* IE 9 */
        -webkit-transform: rotate(-20deg); /* Safari 3-8 */
        transform: rotate(-20deg);
    }
    
    .mainArticle{
        grid-column: 2;
        margin: 10px;
    }
    
    .sub-image{
        margin-top: 10px;
        grid-column: 2;
        /* margin: 15px; */
        /* width: 36%; */
        background-color: white;
        border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
        border-top: rgba(128, 128, 128, 0.787) solid 0.5px;
        font-size: 10px;
        color: rgba(128, 128, 128, 0.787);
        
    }
    section {
        grid-column: 2;
    }
    h2{
        grid-column: 2;
    }
    .author{
        margin-top: 10px;
        line-height:30px;
        grid-column: 2;
    }
    
    .social-icons{
        margin-top: 5px;
        grid-column: 2;
    }
    .comment-icon{
        width: 50px;
        height: 25px;
        font-size: 7px;
        grid-column: 2;
    }
    .searchIcon{
        margin-top: 13px;
        text-align: right;
        display: block;
        /* margin: 0 auto; */
    }
    
    .social-comment{
        margin: 0;
        text-align: left;
        height: 25px;
        font-size: 10px;
        margin-top: 15px;
        grid-column: 2;
    }
    
    .social-share {
        background-color: #899DCE;
        color: white;
        height: 25px;
        font-size: 10px;
        margin-top: 15px;
        grid-column: 2;
    }
    
    .social-tweet{
        background-color: #60D2F5;
        color: white;
        height: 25px;
        font-size: 10px;
        margin-top: 15px;
        grid-column: 2;
    }
    
    .social-pint{
        background-color: #F74C53;
        color: white;
        height: 25px;
        font-size: 10px;
        margin-top: 15px;
        grid-column: 2;
    }
    
    .share-block{
        height: 50px;
        margin: 10px;
        grid-column: 2;
    }
    
    .subscribe{
        grid-column: 2;
        margin: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
    }
     
    .previousArticle, .alsoLike{
        border-bottom: rgba(128, 128, 128, 0.787) solid 0.5px;
        padding-bottom: 10px;
        margin: 10px;
        grid-column: 2;
    }
    }
    
