body{
    margin: 7px;
}



.navbar-burger{
    margin-left: 0px;
    
}

@media only screen and (max-width: 640px) {
    .imageSinglePage{
    object-fit: cover;
      object-position: -10% 40%;
      /* margin-left: 7px; */
      width: 100%;
      height: 150px;
     }
     .pageTitle{
         text-align: center;
         line-height:50px;
     }
     .categories{
        color: #fea98f;
        text-align: center;
        font-size: 10px;
    }
    header{
        background-color: white;
        border-bottom: black solid 0.5px;
        /* height: 60px; */
    }
}

@media only screen and (min-width: 641px) {
    .imageSinglePage{
      width: 300px;
      height: 350px;
     }
    
}

 