/*  FOOTER */
#socmedia li {
  display: inline;
  padding: 20px;
  color:  #3a3e43;
}

#categories ul li {
display: inline-block;
margin: 15px;
}

ul {
  text-align: center;
}

footer a {
  color: #303336;
}




body {
  position: relative;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}


/* SOCIAL SIDE */

.social {
  margin-top: 100px;
  color: white;
}

.social a {
  text-decoration: none;
  color: white ;
}
.socialside {
  padding: 10px 20px;
  margin: 2px 0;
}

.floatright {
  float: right;
}

.socialside:hover {
  background-color: black;
}

.bgfacebook {
  background-color: #899DCE;
}

.bgtwitter {
  background-color: #60D2F5;
}


.bginsta {
  background-color: #709CBF;
}


/* .is-vertical-center {
  display: ;
  align-items: center;
} */

/*  SECTION ARTICLES */

.article {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
}

.description {
  margin: auto 0;
}

.description * {
  margin: 3px 0;
}

.description a {
  color: #303336;
}

/* TAGS FONT */

.tags a {
  color: #ff8d6a;
  font-weight: 900;
  font-size: 12px;

}



aside img {
  width: 100%;
  margin-top: 40px;
}


/*  TAGS  SEPARATEUR */
.meta :after {
  display: inline-block;
  content: "|";
  margin-left: 7px;
  margin-right: 7px;
}

      /* TAGS LIGNE QUI BOUGE CATEGORIE */
.underline > a {
  position: relative;
}

.underline > a:hover:after {
  width: 100%;
}

.underline > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  left: -7px;
  right: -7px;
  height: 1px;
  background-color: rgba(26, 26, 26, 0.6);
  bottom: -1px;
  transition: width 0.3s linear;
}


/*  TITRE ARTICLE */

.artitle {
  font-size: 20px;
  font-weight: 700;
}

.artitle:hover {
  text-decoration: none !important;
  border-bottom: 3px solid #ff8d6a !important;
}

.main {
  max-width: 1170px;
  margin: auto;
  padding: 0;
}

#articles {
  display: block;
  margin: auto;
  max-width: 1170px;
  padding: 20px;
}



/* TRANSITIONS ANIM SUR TOUTE LA PAGE */

* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* TITRE SITE */
.name {
  text-align: center;
  font-size: 6rem;
  font-family: "Crimson Text", serif;
  color: #404040;
}

/* TITRE PAGE */

.banner {
  font-family: "Open Sans";
  text-align: center;
  background-color: #f7f7f7;
  margin-top: 20px;
  padding: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4b4f54;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/*  NAVIGATION */
header {
  text-align: center;
  display: block;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  margin: 0, 20;
  min-height: 42px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a:hover {
  opacity: 0.7;
}

/*  MENU HORIZONTAL */
.menu-item {
  display: inline;
}

/* HAUTEUR NAV */
.main-nav-inner > li > a {
  display: inline-block;
  padding: 0 20px;
  line-height: 60px;
  height: 60px;
}

/* STYLE MENU */
li.menu-item a {
  font-family: "Open Sans";
  font-weight: 700;
  color: #303336;
  padding: 0 20px;
}

li.menu-item a:hover {
  text-decoration: none !important;
  border-bottom: 3px solid #ff8d6a !important;
}

/* FLORENTIN */

.navbar-burger {
  margin-left: 0px;
}

@media only screen and (max-width: 640px) {
  .imageSinglePage {
    object-fit: cover;
    object-position: -10% 40%;
    /* margin-left: 7px; */
    width: 100%;
    height: 150px;
  }
  .pageTitle {
    text-align: center;
    line-height: 50px;
  }
  .categories {
    color: #fea98f;
    text-align: center;
    font-size: 10px;
  }
}

@media only screen and (min-width: 641px) {
  .imageSinglePage {
    width: 300px;
    height: 350px;
  }
}

/* FAYSAL */

/* .container {
  display: ;
  -direction: column;
} */

/*--------HEADER--------*/

/*  */

/* TITRE */

/* TITRE */

/* nav {
  position: absolute;
  top: 0;
  left: 0;
} */

/* header aside {
  position: absolute;
  right: 0;
  top: 0;
} */

/*--------MAIN--------*/

/*--------ARTICLE--------*/

/* .size {
  object-fit: cover;
  object-position: -20% 40%;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 150px;
} */

/* .groupe {
  position: relative;
  margin: 0;
  padding: 0;
} */

/* . {
  position: absolute;
  top: 0;
  left: 20px;
  color: #ff9575;
} */

/* .description {
  position: absolute;
  top: 80%;
  left: 10%;
  color: white;
} */

/*--------SEPARTION--------*/

.separation {
  position: relative;
  border-bottom: 4px #404040 solid;
  padding-top: 20px;
}

.ligne {
  position: absolute;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  font-weight: bold;
}

/*--------FEATURED--------*/

.featured {
  display: ;
  -direction: row;
}

.size-half-featured {
  position: relative;
  object-fit: cover;
  object-position: -20% 40%;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 150px;
}

.footer {
  display: block;
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
