/* TRANSITIONS ANIM SUR TOUTE LA PAGE */

* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* TITRE SITE */
.name {
  font-size: 6rem;
  font-family: "Crimson Text", serif;
  color: #404040;
}

/* TITRE PAGE */

.banner {
  font-family:  'Open Sans';
  text-align: center;
  background-color: #f7f7f7;
  margin-top: 20px;
  padding: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4b4f54;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}


/*  NAVIGATION */  
header {
    display: block;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    margin: 0, 20;
    min-height: 42px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
     
}

header a:hover {
  opacity: 0.7;  
}

 /*  MENU HORIZONTAL */
.menu-item {
  display: inline;  
}

/* HAUTEUR NAV */
.main-nav-inner>li>a {
  display: inline-block;
  padding: 0 20px;
  line-height: 60px;
  height: 60px;
}

/* STYLE MENU */
li.menu-item a {
font-family: "Open Sans";
font-weight: 700;
color: #303336;
padding: 0 20px;
}

li.menu-item a:hover {
  text-decoration: none !important;
  border-bottom: 3px solid #ff8d6a !important;
}







/* FLORENTIN */



.navbar-burger {
  margin-left: 0px;
}

@media only screen and (max-width: 640px) {
  .imageSinglePage {
    object-fit: cover;
    object-position: -10% 40%;
    /* margin-left: 7px; */
    width: 100%;
    height: 150px;
  }
  .pageTitle {
    text-align: center;
    line-height: 50px;
  }
  .categories {
    color: #fea98f;
    text-align: center;
    font-size: 10px;
  }


}

@media only screen and (min-width: 641px) {
  .imageSinglePage {
    width: 300px;
    height: 350px;
  }
}

/* FAYSAL */

/* .container {
  display: flex;
  flex-direction: column;
} */

/*--------HEADER--------*/

header {
  position: relative;
  text-align: center;
}

/*  */

/* TITRE */



/* TITRE */

/* nav {
  position: absolute;
  top: 0;
  left: 0;
} */

/* header aside {
  position: absolute;
  right: 0;
  top: 0;
} */

/*--------MAIN--------*/

/*--------ARTICLE--------*/

/* .size {
  object-fit: cover;
  object-position: -20% 40%;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 150px;
} */

/* .groupe {
  position: relative;
  margin: 0;
  padding: 0;
} */

/* .category {
  position: absolute;
  top: 0;
  left: 20px;
  color: #ff9575;
} */

/* .description {
  position: absolute;
  top: 80%;
  left: 10%;
  color: white;
} */

/*--------SEPARTION--------*/

.separation {
  position: relative;
  border-bottom: 4px #404040 solid;
  padding-top: 20px;
}

.ligne {
  position: absolute;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  font-weight: bold;
}

/*--------FEATURED--------*/

.featured {
  display: flex;
  flex-direction: row;
}

.size-half-featured {
  position: relative;
  object-fit: cover;
  object-position: -20% 40%;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 150px;
}

.footer {
  display: block;
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
